<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>自動シフト割り当てシステム</title>

  <link rel="stylesheet" href="css/optimized_shift.css">
</head>

<body>
  <!-- <a class="back" th:href="@{/back(userid=${user.id})}">もどる</a><br> -->
  <a th:href="@{/back}">もどる</a><br>

  <h1>最適化されたシフト一覧</h1>
  <!-- <div>
    <table border="2">
      <thead>
        <tr>
          <th>従業員</th>
          <th th:each="date : ${dates}"><span th:text="${date}"></span></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="employee : ${employees}">
          <td th:text="${employee}"></td>
          <td th:each="date : ${dates}">
            <-- 勤務時間がnullの場合は空白セルにする --
          <td th:if="${shifts[employee][date] != null}" th:text="${shifts[employee][date]}"></td>
          <td th:unless="${shifts[employee][date] != null}">&nbsp;</td>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->

  <!-- <div>
    <table border="2">
      <thead>
        <tr>
          <th>従業員</th>
          <th th:each="date : ${shiftdate}">
            <span th:text="${date}"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="employeeShifts, empIndex : ${employeeShifts}">
          <td th:text="${employees[empIndex.index].name}"></td>
          <th:block th:each="shiftsForDate, dateIndex : ${employeeShifts}">
            <td th:each="shift : ${shiftsForDate}">
              <th:block th:if="${shift != null}">
                <span th:text="${shift.workingHours}"></span>
              </th:block>
            </td>
            <th:block th:unless="${shiftsForDate}">
              <td>休</td>
            </th:block>
          </th:block>
        </tr>
      </tbody>
    </table>
  </div>
</body> -->

  <div id="table-container"></div>
  <script th:inline="javascript">
    var tableData = /*[[${tableData}]]*/[];
    var shiftDates = /*[[${shiftdate}]]*/[];
    var employees = /*[[${employees}]]*/[];


    function formatDate(dateString) {
      var date = new Date(dateString);
      return (date.getMonth() + 1) + "/" + date.getDate(); // 月と日のみを取得
    }

    function renderTable(data, dates, employeeData) {
      var table = "<<div class=\"table-container\"><table border='2' class=\"shiftTable\">";
      table += "<thead><tr id=\"border_bottom\"><th id=\"border_right\">従業員</th>";
      for (var i = 0; i < dates.length; i++) {
        table += "<th>" + formatDate(dates[i]) + "</th>";
      }
      table += "</tr></thead><tbody>";

      for (var i = 0; i < employeeData.length; i++) {
        table += "<tr id=\"border_bottom\">";
        for (var j = 0; j < data[i].length; j++) {
          if (j == 0)
            table += "<td class=\"_sticky\" id=\"border_right\">" + data[i][j] + "</td>";
          else
            table += "<td>" + data[i][j] + "</td>";
        }
        table += "</tr>";
      }

      table += "</tbody></table><div>";
      return table;
    }

    document.getElementById("table-container").innerHTML = renderTable(tableData, shiftDates, employees);
  </script>

</html>
